.category-card {
  border: 1px solid var(--black);
  border-radius: 0.2rem;
}

.edit-category {
  color: var(--dark-green);
  cursor: pointer;
  margin-right: 0.2rem;
}

.delete-category {
  color: var(--tomato);
  cursor: pointer;
}

.accept-category {
  color: var(--light-green);
  margin-right: 0.2rem;
}

.cancel-category {
  color: var(--tomato);
}

.form-edit-input {
  margin-right: 0.2rem;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

@media screen and (min-width: 1400px) {
  .category-card {
    width: 130%;
  }
}
