.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Tarpas tarp kortelių */
  margin-top: 20px;
  margin-bottom: 30px;
}

.recipe-card img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
