.buttons-content{
    text-align: center;
}

.buttons-content button{
    margin: 20px 10px;
}
.button-create-content {
  text-align: center;
  margin-top: 10px;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 15.625rem);
  column-gap: 20px; 
  row-gap: 20px; 
  justify-content: center;
  justify-items: center; 
}

.card-body {
  height: 9rem;
  overflow: hidden; 
  text-overflow: inherit;
  align-items: center;
  justify-content: center; 
  font-size: calc(1rem + 0.5vw); 
}

.recipe-card {
  width: 15.625rem;
}

.recipe-card img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  object-position: center; 
}

@media (max-width: 992px) {
  .recipe-list {
    grid-template-columns: repeat(2, 15.625rem); 
  }
}

@media (max-width: 576px) {
  .recipe-list {
    grid-template-columns: 1fr; 
  }
}