.image-content img{
  width: 100%;
}

.image-content{
  min-width: 400px;
  padding: 30px 0px;
}

.follow_button {
  border: 1px solid gray;
}

.follow_button_active{
  border: 1px solid red;
}

.recipe-info-content {
   padding: 30px;
}

.footer_padding {
  height: 5rem;
<<<<<<< HEAD

}

.favorites-row-content{
  padding: 2rem;
<<<<<<< HEAD
}

.container {
  margin-top: 100px;
}
=======

=======
>>>>>>> 88a9aa0e33743b0cea617421457c98939bfd8804
}
>>>>>>> caefe775f67c36890856513bc59d9887e325d363
