:root {
  --primary-blue: #2d5ba1;
  --tomato: #ff6347;
  --dark-salmon: #e9967a;
  --black: #000;
  --white: #fff;
  --whitesmoke: #f5f5f5;
  --subtle-red: #f78b7877;
  --subtle-gray: #ced4da;
  --dark-gray: #757575;
  --dark-green: #667b82;
  --light-green: #48aa48;
  --lime-green: #8fcfb980;
  --dark-slate-gray: #2f4f4fb7;
  --light-coral: #f08080bb;
  --gradient-violet-blue: linear-gradient(to right, #090979, #fc00ff);
  --light-gray: #9b9898;
}
